
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .nav__logo {
  position: relative;
 }

  .nav__links {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    margin: 8px 0 0;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .nav__link {
    text-decoration: none;
    color: #000000;
  }

  .nav__link:hover {
    color: #2F80ED;
  }
