
.reservation {
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  padding-bottom: 120px;
}

.reservation__title {
  margin: 0;
margin-bottom: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.reservation__form-information {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.reservation__label {
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 8px;
}

.reservation__button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  max-height: 60px;
  background-color: #2f80ed;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  margin: 32px 0;

}

.checkbox::after {
  border-radius: 2px;
}

.reservation__button:hover {
  opacity: 70%;
}

.reservation__checkbox {
  display: flex;
  gap: 15px;
  justify-content: center;
}
