.page {
  font-family: "Inter", Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  background-image: url('../images/background_header.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}


.nav {
display: flex;
align-items: center;
justify-content: space-between;
}

.nav__logo {
position: relative;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 8px 0 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
}


.header__title {
font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 72px;
letter-spacing: -1px;
margin: 183px 0 0;
max-width: 709px;
  }

  .header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    max-width: 683px;
    padding-top: 28px;
  }

  .header__image {
    position: absolute;
    max-width: 636px;
    right: 5px;
    top: 124px;
  }

  .header__footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .header__paragraph {
    margin: 0;
    font-family: "inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
 }

 .recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }

 .recipes__title {
  padding: 100px 0 0 80px;
  max-width: 580px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: auto;
  margin-bottom: 0;
 }

 .recipes__subtitle {
margin: 24px 0 0 80px;
max-width: 438px;
color: #ffffff;
font-family: "Noto serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
 }

 .recipes__videos {
  display: flex;
  justify-content: center;
padding-bottom: 215px;
column-gap: 40px;
margin-top: 80px;
 }

 .recipes__video-item {
  width: 480px;
  height: 273px;
padding-bottom: 24px;
 }

 .recipes__iframe {
  width: 480px;
  height: 273px;
 }

 .recipes__video-caption {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-top: 24px;
 }

 .reservation {
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  padding-bottom: 120px;
}

.reservation__title {
  margin: 0;
margin-bottom: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.reservation__form-information {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.reservation__label {
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.reservation__button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  max-height: 60px;
  background-color: #2f80ed;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  margin: 32px 0;
}

.checkbox::after {
  border-radius: 2px;
}

.reservation__button:hover {
  opacity: 70%;
}

.reservation__checkbox {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.form {
  margin: auto;
  max-width: 385px;
}

.form__item {
max-width: 385px;
max-height: 60px;
margin-bottom: 32px;
border-radius: 4px;
padding: 15px 20px;
}

.form__item-checkbox {
  margin-bottom: 0;
}
